@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Danjo-bold-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Color */
  --white-color: #f5f5f5;
  --black-color: #0a0a0a;
  --purple-color: #692cb9;
  --green-color: #3bc978;
  --light-green-color: #c8e8b0;
  --yellow-color: #fee536;
  --gray-color: #dcdfe2;
  --dark-gray-color: #7d7d7d;
  --red-color: #e2757e;
  --deep-dark-gray-color: #444444;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 36px;
  --font-medium2: 30px;
  --font-small: 24px;
  --font-smaller: 20px;
  --font-content: 18px;
  --font-micro: 16px;

  /* Padding */
  --smaller-padding: 18px;
  --small-padding: 24px;
  --basic-padding: 30px;
  --medium-padding: 36px;
  --big-padding: 40px;
  --bigger-padding: 48px;

  --navi_li-zindex: 1;
  --homeBannerShadowBox-zindex: 2;
  --homeBannerTextContainer-zindex: 3;
  --header-zindex: 4;
  --pagination-zindex: 5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dovemayo_gothic";
}

* a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--black-color);
}

ul,
li {
  list-style: none;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/* big */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--white-color);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* etc */
.image100 {
  width: 100%;
}

.tabletPortraitWarning {
  display: none;
}

@keyframes Fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* header */
.original_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: var(--header-zindex);
  background-color: var(--white-color);
}

.change_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: var(--header-zindex);
  background-color: var(--white-color);
  border-bottom: rgba(0, 27, 55, 0.1) 2px solid;
}

nav {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 55%;
  height: 100%;
  align-items: center;
}

.logoBox {
  display: flex;
  margin: auto 0px auto 12px;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0px 12px 0px 0px;
}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo {
  width: 100%;
  height: 100%;
}

.logo_title {
  font-size: var(--font-medium);
  margin: auto 0px;
}

.link_logo_nav {
  display: flex;
  width: 420px;
  height: 100%;
  align-items: center;
}

.header_link_logo {
  display: flex;
  margin: auto 0px;
}

.header_logo_icon {
  margin-right: 24px;
  width: 32px;
  height: 32px;
}

.navi_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto 0px;
}

nav ul li {
  width: 120px;
  font-size: var(--font-small);
  text-align: center;
  display: inline-block;
}

.navi_li {
  position: relative;
  z-index: var(--navi_li-zindex);
}

@media (hover: hover) {
  .navi_li:hover {
    display: block;
  }
}

/* homeMain */
.homeMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--big-padding) * 2);
}

.homeMainBox {
  width: 1600px;
  height: 100%;
}

.homeMainTitle {
  display: flex;
  align-items: center;
  font-size: var(--font-medium2);
  margin-bottom: var(--small-padding);
}

/* homeBanner */
.homeBannerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--big-padding) * 2);
}

.homeBannerBox {
  width: 100%;
}

.homeBannerShadowBox {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    var(--white-color) 0%,
    var(--white-color) 110px,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: var(--homeBannerShadowBox-zindex);
}

.homeBannerTextContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  animation: 0.5s ease-in-out 0s 1 normal forwards running Fadein;
  z-index: var(--homeBannerTextContainer-zindex);
}

.homeBannerTextBox {
  margin-top: 225px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.homeBannerText {
  color: var(--black-color);
  font-size: calc(var(--font-large) * 1.2);
  line-height: 2.5;
  text-align: center;
  width: 100%;
  font-family: "Danjo-bold-Regular";
  letter-spacing: 3px;
  /* background: linear-gradient(180deg, var(--white-color), var(--green-color)); */
  /* background-image: linear-gradient(180deg, #d4fc79 0%, #96e6a1 100%); */
  /* background-image: linear-gradient(180deg, #43e97b 0%, #38f9d7 100%); */
  background-image: linear-gradient(to top, #3be33b 0%, yellow 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.homeBannerImageBox {
  width: 100%;
  height: 100vh;
}

.homeBannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* service */
.servicePreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--big-padding) * 2);
}

.servicePreviewBox {
  width: 1600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--basic-padding);
  line-height: 1.5rem;
}

.servicePreview {
  display: flex !important;
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
  border: var(--black-color) 1px solid;
  border-radius: 30px 30px;
  padding: var(--small-padding);
  font-size: var(--font-smaller);
}

.servicePreviewContent {
  width: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.servicePreviewServNm {
  font-size: var(--font-medium2);
  line-height: 1.1;
}

.servicePreviewDeptNm,
.servicePreviewLifeArray,
.servicePreviewTrgContent,
.servicePreviewSelContent,
.servicePreviewSalContent {
}

/* search */
.searchFilterBoxContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 860px;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 160px;
  width: 100%;
}

.searchBoxContainer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  width: 980px;
  height: 100%;
  border: var(--black-color) 2px solid;
  border-radius: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.searchIconBox {
  width: var(--medium-padding);
  height: var(--medium-padding);
  cursor: pointer;
}

.searchInput {
  margin-left: var(--smaller-padding);
  width: 100%;
  height: var(--medium-padding);
  font-size: var(--font-smaller);
  border: 0;
  background-color: var(--white-color);
}

.arrayFilterTitleIconBox {
  width: calc(var(--medium-padding) * 1.8);
  height: calc(var(--medium-padding) * 1.8);
  margin-left: 10px;
}

/* filter */
.filterBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterBox {
  width: 1600px;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: var(--black-color) 2px solid;
  border-left: var(--black-color) 2px solid;
  border-radius: 30px;
}

.filterBox > div {
  border-right: var(--black-color) 2px solid;
  border-bottom: var(--black-color) 2px solid;
  border-radius: 30px;
}

.arrayFilterTitleBox {
  text-align: center;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--black-color) 2px solid;
  font-size: var(--font-medium2);
  font-weight: 500;
}

.arrayFilterElementBox {
  height: 80%;
  padding: var(--small-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: var(--font-small);
}

.intrsArrayFilterElementBox {
  height: 80%;
  padding: var(--small-padding);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: var(--font-small);
}

.arrayFilterElement {
  width: 100%;
  display: flex;
  align-items: center;
}

.filterCheckBox {
  width: 50px;
  height: var(--font-smaller);
}

.filterElement {
  width: 100%;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: var(--big-padding) auto;
  font-size: var(--font-smaller);
  z-index: var(--pagination-zindex);
}

ul.pagination li {
  width: 50px;
  height: 50px;
  border: var(--black-color) 1px solid;
  border-radius: 50%;
  transition: all 0.3s;
}

ul.pagination li:hover,
ul.pagination li:active,
ul.pagination li.active {
  background-color: var(--green-color);
}

ul.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
